body{
    margin: 0px;
    padding: 100px 0px 0px;
}
header{
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    color: white;
    background: black;
    width: 100%;
    height: 100px;
    transition: height 1s;
}